body {
    font-size: 1.25em;
}

p.exemplo {
    background-color: white;
    border: 5px solid black;
    margin: 50px;
    padding: 20px;
    width: 1090px;

    box-shadow: 20px 20px 10px 10px grey;
}

img.Guitarra.jpg {
    margin: 50px;
}
